/** {*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
/*}*/

.page-header {
    height: 70px;
    padding-top: 10px;
    background-color: black;
}

.navbar-inverse {
    background-color: black;
    border-color: black;
}

.navbar-inverse .navbar-nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #ff9b51;
}

.home {
    background-image: url("../images/image_head.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.home .container .row .col-md-8 {
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-top: 110px;
    padding-bottom: 135px;
}

.home__button {
    border-radius: 3px;
    color: white;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    display: inline-block;
    margin-top: 25px;
    border: 2px solid white;
}

.home .container .row .col-md-4 {
    padding-top: 110px;
    padding-bottom: 135px;
    font-family: 'Open Sans', sans-serif;
}

.form_content__input {
    color: #bdbdbd;
    padding: 0 13px;
    font-size: 14px;
    width: 80%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    margin: 10%;
}

.home .container .row .col-md-4>form>div>section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.form_header {
    background: #f5f5f5;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 13px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 30px;
}

.form_header > span {
    color: #ff8b38;
}

.form_content {
    padding: 30px 37px;
    background: #fff;
}

.form_content__input {
    color: #BDBDBD;
    padding: 0 13px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 36px;
}

.form_content__input:focus {
    outline: none;
    border-bottom: 1px solid #ff8b38;
}

.form_footer {
    height: 53px;
    background: #ff8b38;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    border: none;
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.social__link {
    line-height: 100px;
    height: 50px;
    width: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.social__link:nth-child(3):hover {
    display: none;
}

.social__link1 {
    background-image: url("../images/fb_logo.png");
}

.social__link1:hover {
    background-image: url("../images/fb_logo_c.png");
}

.social__link2 {
    background-image: url("../images/tw_logo.png");
}

.social__link2:hover {
    background-image: url("../images/tw_logo_c.png");
}

.social__link3 {
    background-image: url("../images/g_logo.png");
}

.social__link3:hover {
    background-image: url("../images/g_logo_c.png");
}

.social__link4 {
    background-image: url("../images/p_logo.png");
}

.social__link4:hover {
    background-image: url("../images/p_logo_c.png");
}

.social__link5 {
    background-image: url("../images/inst_logo.png");
}

.social__link5:hover {
    background-image: url("../images/inst_logo_c.png");
}

.social__link6 {
    background-image: url("../images/linda_logo.png");
}

.social__link6:hover {
    background-image: url("../images/linda_logo_c.png");
}

.social__link7 {
    background-image: url("../images/rss_logo.png");
}

.social__link7:hover {
    background-image: url("../images/rss_logo_c.png");
}

.social .col-md-1{
    display: flex;
    align-items: center;
    height: 100px;
}

.social {
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    margin-bottom: 4px;
}

.about_us__tab_item {
    height: 110px;
    width: 110px;
    font-size: 15px;

    line-height: 110px;
    text-transform: uppercase;
    margin-bottom: 1px;
    background-color: #333333;
    border-radius: 3px;

    text-align: center;
    cursor: pointer;
}

.about_us__tab_item a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 100%;
    display: inline-block;
}

.about_us {
    padding-top: 145px;
    padding-bottom: 115px;
    background-color: #f5f5f5;
}

.about_us__tab_item .active {
    background-color: #ff9b51;
}

.about_us__text_header {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 50px;
}

.about_us__text_content {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878b;
    line-height: 20px;
    margin-bottom: 18px;
}

.about_us__text_content:last-child {
    margin-bottom: 0px;
}

.about_us__button {
    border-radius: 3px;
    color: white;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    display: inline-block;
    margin-top: 25px;
    background-color: #ff8b38;
}

.about_us__img_block {
    margin-top: 40px;
}

.nav-tabs>li>a {
    line-height: inherit;
    border: none;
    border-radius: 3px;
}

.nav-tabs>li {
    margin-bottom: 1px;
    border: none;
    outline: none;
}

.nav>li>a {
    padding: 0;
}

.page-header .nav>li>a {
    padding: 15px;
    color: white;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    background-color: #ff8b38;
    color: white;
    border: none;
}

.nav-tabs>li.active>a {
    color: white;
    border: none;
}

.nav-tabs>li.active:hover {
    background: inherit;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: none;
}

/*<!--### sub list section ###-->*/
.sub_list_section {
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #86878b;
 }
.feature__item__img:hover {
    background-image: url("../images/list_icon_upload_u127_hover.png");
    background-repeat: no-repeat;
    background-position: 13px 13px;
}
.features {
    margin-top: 40px;
}
.feature__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
.feature__item__img {
    min-width: 70px;
}
.feature__item__text h4 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}
/*<!--### end sub list section ###-->*/

/*<!--### standard picture section ###-->*/
.standard_picture_section {
    background: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #86878b;
}
/*<!--### end standard picture section ###-->*/

/*<!--### awesome ###-->*/
.awesome {
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
}
.awesome_section {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 100px;
}
.img1:hover {
    background-image: url("../images/icon_awesome_u175_hover1.png");
    background-repeat: no-repeat;
    background-position: 25px 25px;
}
.img2:hover {
    background-image: url("../images/icon_awesome_u175_hover2.png");
    background-repeat: no-repeat;
    background-position: 18px 25px;
}
.img3:hover {
     background-image: url("../images/icon_awesome_u175_hover3.png");
     background-repeat: no-repeat;
     background-position: 27px 20px;
 }
.awesome_list {
    margin-top: 82px;
}
.awesome_list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_title {
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}
/*<!--### end awesome ###-->*/

/*<!--### pricing options ###-->*/
.pricing_options {
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
}
.pricing_section {
    padding-top: 100px;
    padding-bottom: 90px;
}
.pricing_section .section_desc {
    text-align: center;
    margin-bottom: 120px;
}
.price_condition__name {
    height: 57px;
    background: #333;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 53px;
}
.price_condition__price_desc {
    background: #333;
    border-top: 2px solid #f5f5f5;
    text-align: center;
    border-bottom: 5px solid #ff8b38;
    padding-bottom: 0;
    cursor: pointer;
}
.price_condition__price_desc:hover .accent_price{
    opacity: 1;
    margin-top: 40px;

}
.prices_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;
}
.dolsign {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.pricenum {
    font-size: 94px;
    font-weight: bold;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.pricedesc {
    font-weight: 500;
    color: #adadad;
}
.accent_price {
    height: 40px;
    color: #fff;
    font-weight: bold;
    background: #ff8b38;
    line-height: 40px;
    position: relative;
    margin-top: 20px;
    transition: 0.1s;
    opacity: 0;
}
.oop_list {
    display: flex;
}
.opp_list__item {
    flex-basis: auto;
    flex-grow: 1;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878b;
    text-align: center;
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5;
    list-style-type: none;
}
/*<!--### end pricing options ###-->*/

/*<!--### customers ###-->*/
.customers_feed {
    text-align: center;
    padding-top: 106px;
    padding-bottom: 100px;
}
.customers_feed .section_desc {
    margin-bottom: 56px;
}
.customers_feed p{
    margin-left: auto;
    margin-right: auto;
}
.fb__text {
    text-align: left;
    padding: 22px 10px 24px 14px;
    font-style: italic;
    background: #f5f5f5;
    border-radius: 3px;
    position: relative;
    margin-bottom: 10px;
}
.fb__text.section_desc {
    margin-bottom: 20px;
}
.fb__text::before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    border-top: 15px solid #f5f5f5;
    content: '';
    left: 23px;
    bottom: -15px;
}
.fb__author {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #000;

    display: flex;
    flex-direction: row;
}
.fb__author_info {
    margin-left: 15px;
    padding-top: 10px;
}
.fb__author_info > .name {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 100px;
}
.fb__author_info > .role {
    width: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #b4b4b7;
}
/*<!--### end customers ###-->*/

/*<!--### stylish ###-->*/
.stylish_fluid {
    background: url('../images/u25_state0.png');
    padding-top: 70px;
    padding-bottom: 62px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.stylish_fluid > div {
    padding: 20px;
}
.stylish_fluid h2 {
    color: #fff;
}
.stylish_fluid p {
    margin: 0 auto;
    text-align: center;
}
.stylish_fluid .section_desc {
    color: #dcdddc;
    margin-bottom: 30px;
}
.section_head {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}
.home__button_s
{
    height: 50px;
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    color: white;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px
    margin-top: 25px;
    border: 2px solid white;
    background: none;
}
/*<!--### end stylish ###-->*/

/*<!--### contact ###-->*/
.contact_us {
    padding-top: 108px;
    padding-bottom: 80px;
}

.contact_us p {
    text-align: center;
    margin-bottom: 76px;
}

.form_content__textarea {
    min-width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
    padding: 2px 13px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    height: 161px;
}

.form_content__textarea:focus {
    outline: none;
    border-bottom: 1px solid #ff8b38;
}

.form_content__submit {
    width: 144px;
    height: 42px;
    background: #ff9b51;
    color: #fff;
    border: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 3px;
    margin: 0 auto;
    cursor: pointer;
}

.form_content__submit:hover {
    background: #ff8e38;
}

/* =============== FOOTER =============== */

.footer_fluid {
    background: #000;
    padding-top: 20px;
    padding-bottom: 14px;
}

.icons_in_footer {
    position: relative;
    left: 380px;
}

.icons_in_footer > i {
    font-size: 24px;
    color: #ccc;
    margin: 0 15px;
}

.copyright {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #808080;
    text-align: center;
    margin-top: 37px;
}
.down {
    height: 21px;
    width: 33px;
    display: inline-block;
}